@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto-slab);
}

h1,
h2,
h3,
span {
  font-family: var(--font-fira-code);
}

.border-3 {
  border-width: 3px;
}

.border-5 {
  border-width: 5px;
}

@layer utilities {
  .bg-gradient-br-orange {
    @apply bg-gradient-to-br from-orange to-black;
  }

  .bg-gradient-br-green {
    @apply bg-gradient-to-br from-light-green to-dark-green;
  }

  .bg-gradient-b-green {
    @apply bg-gradient-to-b from-light-green to-dark-green;
  }
}

@layer components {
  .buttonDiamond {
    @apply h-10 w-10 z-10 border-3 rounded rotate-45;
  }

  .titleDiamond {
    @apply before:relative before:h-5 before:w-5 before:left-2 before:bottom-2 before:border-2 before:rounded-sm before:rotate-45 before:border-orange before:bg-gradient-br-orange;
  }

  .imageDiamond {
    @apply h-5 w-5 z-10 border-2 rounded-sm rotate-45 border-orange bg-gradient-br-orange;
  }
}