@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-fira-code);
}

h1,
p,
a {
  font-family: var(--font-archivo);
}

a {
  cursor: pointer;
}

button a {
  font-family: var(--font-fira-code);
}

.border-3 {
  border-width: 3px;
}

.border-5 {
  border-width: 5px;
}

@layer utilities {
  .bg-gradient-br-orange {
    @apply bg-gradient-to-br from-orange to-black;
  }

  .bg-gradient-br-green {
    @apply bg-gradient-to-br from-light-green to-dark-green;
  }

  .bg-gradient-b-green {
    @apply bg-gradient-to-b from-light-green to-dark-green;
  }

  .text-stroke {
    -webkit-text-stroke: 1.5px #3CABA2;
  }

  .big-diamond-shadows {
    box-shadow: inset 6px -12px 10px rgba(0, 0, 0, .3),
      40px -40px 0 rgba(0, 0, 0, .3),
      80px -80px 0 rgba(0, 0, 0, .3)
  }

  .big-diamond-shadows-small {
    box-shadow: inset 4px -8px 8px rgba(0, 0, 0, .3),
      30px -30px 0 rgba(0, 0, 0, .3),
      60px -60px 0 rgba(0, 0, 0, .3)
  }
}

@layer components {
  .buttonDiamond {
    @apply desktop:h-10 h-8 desktop:w-10 w-8 z-10 border-3 rounded rotate-45;
  }

  .subTitleDiamond {
    @apply before:absolute before:-z-10 before:h-5 before:w-5 before:-left-2 before:top-0 before:border-2 before:rounded-sm before:rotate-45 before:border-orange before:bg-gradient-br-orange;
  }

  .imageDiamond {
    @apply h-5 w-5 z-10 border-2 rounded-sm rotate-45 border-orange bg-gradient-br-orange;
  }
}